Repository tower-rs/tower, pull requests merged in 2020-04, with the labels that each got.

#426 New sub-crate: tower-steer
  tower/Cargo.toml
  tower/src/lib.rs
  tower/src/steer/mod.rs
  tower/tests/steer/main.rs
Labels: A-new-middleware, C-enhancement, S-waiting-on-author

#435 Add `Map` service combinator
  tower/Cargo.toml
  tower/src/builder/mod.rs
  tower/src/lib.rs
  tower/src/reconnect/mod.rs
  tower/src/util/map/mod.rs
  tower/src/util/map/request.rs
  tower/src/util/map/response.rs
  tower/src/util/mod.rs
  tower/tests/builder.rs
Labels: A-util, C-enhancement, T-middleware

#442 Some more spring clean fixes.
  tower/src/lib.rs
Labels: C-cleanup

#443 Change Discover to be a sealed trait
  tower/src/balance/p2c/make.rs
  tower/src/balance/p2c/service.rs
  tower/src/balance/pool/mod.rs
  tower/src/discover/list.rs
  tower/src/discover/mod.rs
  tower/src/discover/stream.rs
  tower/src/lib.rs
  tower/src/load/constant.rs
  tower/src/load/peak_ewma.rs
  tower/src/load/pending_requests.rs
  tower/src/make/make_connection.rs
  tower/src/make/make_service.rs
  tower/src/make/mod.rs
  tower/tests/balance/main.rs
Labels: A-discover, C-cleanup, S-waiting-on-review
