Repository tower-rs/tower, pull requests merged in 2021-02, with the labels that each got.

#556 buffer, limit: use `tokio-util`'s `PollSemaphore`
  tower/Cargo.toml
  tower/src/buffer/message.rs
  tower/src/buffer/service.rs
  tower/src/buffer/worker.rs
  tower/src/lib.rs
  tower/src/limit/concurrency/future.rs
  tower/src/limit/concurrency/service.rs
  tower/src/semaphore.rs
  tower/tests/buffer/main.rs
Labels: A-buffer, A-tower, C-enhancement

#559 builder: Add `ServiceBuilder::map_future`
  tower/CHANGELOG.md
  tower/src/builder/mod.rs
Labels: A-builder

#563 util: Add example for `service_fn`
  tower/CHANGELOG.md
  tower/src/util/service_fn.rs
Labels: T-docs

#560 builder: Add `ServiceBuilder::layer_fn`
  tower/CHANGELOG.md
  tower/src/builder/mod.rs
Labels: A-builder, C-enhancement

#564 builder: Add `ServiceBuilder::service_fn`
  tower/CHANGELOG.md
  tower/src/builder/mod.rs
Labels: A-builder

#569 util: Add `BoxLayer`
  tower/CHANGELOG.md
  tower/src/util/boxed/layer.rs
  tower/src/util/boxed/mod.rs
  tower/src/util/mod.rs
Labels: A-util
